<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}

    {% include 'header.html' %}

    <main>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        <!-- Posts view -->

        <div class="posts-wrapper">
            {% if posts %}
                {% for post in posts %}
                    <div class="posts-card">
                        <a href="{{ url_for('delete_post', id=post.id) }}" class="post-link">
                            <div class="post-title" style="text-align: center"><h3>{{ post.title }}</h3></div>

                            <div class="post-info" style="margin-bottom: 20px; display: grid; grid-template-columns: 1fr 1fr;">
                                <div class="post-labels" style="margin-left: 5px">
                                    <div class="post-label-name">Topic: </div>
                                    <div class="post-label-name">Author: </div>
                                    <div class="post-label-name">Time of start: </div>
                                    <div class="post-label-name">Time of end: </div>
                                </div>
                                <div class="post-values">
                                    <div class="post-value">{{ post.topic }}</div>
                                    <div class="post-value">{{ post.author }}</div>
                                    <div class="post-value">{{ post.start.strftime('%Y-%m-%d') }}</div>
                                    <div class="post-value">{{ post.end.strftime('%Y-%m-%d') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No posts found for delete. You can <a href="/create_post">create your first post</a></h3>
            {% endif %}
        </div>

    </main>

    <footer></footer>

<script src="{{ url_for('static', filename='js/flash_msg.js') }}"></script>
</body>
</html>