
<header>
    {% if current_user.is_authenticated %}
        <div class="header-wrapper">
            <div class="logo">
                <a href="/index" class="logo-image">
                    <img src="{{ url_for('static', filename='images/TheresaKnott_castle.svg') }}" alt="index" style="width: 70px">
                </a>
            </div>

            <nav class="nav-panel">
                <a href="/create_post" class="nav-link">Create post</a>
                <a href="/update" class="nav-link">Update post</a>
                <a href="/delete" class="nav-link">Delete post</a>
            </nav>

            <div class="block-username-logout">
                <span>{{ current_user.email }} </span>| <span><a href="{{ url_for('logout') }}" class="logout-link">logout</a></span>
            </div>
        </div>
    {% else %}
        <div class="header-wrapper">
            <div class="logo">
                <a href="/index" class="logo-image">
                    <img src="{{ url_for('static', filename='images/TheresaKnott_castle.svg') }}" alt="index" style="width: 70px">
                </a>
            </div>

            <div class="block-login-register">
                <span><a href="{{ url_for('login') }}" class="login-link">Sign In</a></span> | <span><a href="{{ url_for('register') }}" class="register-link">Sign Up</a></span>
            </div>
        </div>
    {% endif %}
</header>
