<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post {{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}

    <h2>Page of Post: {{ post.title }}</h2>
    <div class="post-card">
        <div>Topic: {{ post.topic }}</div>
        <div>Description: {{ post.description }}</div>
        {% if post.start %}
            <div>Start event: {{ post.start.strftime('%Y-%m-%d') }}</div>
        {% endif %}
        {% if post.end %}
            <div>End event: {{ post.end.strftime('%Y-%m-%d') }}</div>
        {% endif %}
        <div>Author: {{ post.author }}</div>
        <div>Created: {{ post.create_date.strftime('%Y-%m-%d') }}</div>
        <div>Update: {{ post.update_date.strftime('%Y-%m-%d') }}</div>
    </div>
<script src="{{ url_for('static', filename='js/flash_msg.js') }}"></script>
</body>
</html>