<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% include 'header.html' %}

    <main>
        <h1>Enter your data for register.</h1>


        <div class="register-form">
            <form method="POST" action="/register">
                {{ form.csrf_token }}

                <div class="form-field">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>

                <div class="form-field">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>

                <input class="submit" type="submit" value="Sign Up">

            </form>
        </div>

    </main>

    <footer></footer>

</body>
</html>