<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
</head>
<body>

    <header></header>

    <main>
        <h1>Добро пожаловать на многопользовательский портал объявлений.</h1>
        <p>Для продолжения войдите под <a href="/login">своей учетной записью</a> или <a href="/register">зарегистрируйтесь</ahref>.</p>

<!--        <div class="login-form">-->
<!--            <form method="POST" action="login_register">-->
<!--                {{ form.csrf_token }}-->

<!--                <div class="form-field">-->
<!--                    {{ form.email.label }}-->
<!--                    {{ form.email }}-->
<!--                </div>-->

<!--                <div class="form-field">-->
<!--                    {{ form.password.label }}-->
<!--                    {{ form.password }}-->
<!--                </div>-->

<!--                <input type="submit" value="Отправить">-->

<!--            </form>-->
        </div>

    </main>

    <footer></footer>

</body>
</html>