<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}

    <main>
        <h1>Welcome to multi user portal for posts.</h1>
        <p>
            For continue please <a href="/login">login</a> or <a href="/register">register now</a>.
        </p>
    </main>

    <footer></footer>
<script src="{{ url_for('static', filename='js/flash_msg.js') }}"></script>
</body>
</html>